
{% extends 'userdata/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}



<div class="container col-5">
 
    <div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 300px;">
        <h4 class="card-title mt-4 text-center">Log In</h4>
        <p class="text-center">Login to your account</p>
        <p>
          
        </p>
        <p class="divider-text">
          
        </p>
        <form method='POST' action="" >
            {% csrf_token %}
        <div class="form-group input-group ml-4">
           
                {{ form|crispy }}
        </div> <!-- form-group// -->
                                            
        <div class="form-group">
            <button type="submit" class="btn btn-primary  btn-lg btn-block ">Login</button>
        </div> <!-- form-group// -->      
        <p class="text-center ">Need an account?<a href="{% url 'user_register' %}">Sign up</a> </p>                                                                 
    </form>
    </article>
    </div> <!-- card.// -->
    
    </div> 
    <!--container end.//-->
    

{% endblock %}