
{% extends 'userdata/base.html' %}
{% load static %}
{% block content %}
<br>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<div class="container">
    <br/>
	<div class="row justify-content-center">
                        <div class="col-12 col-md-10 col-lg-8">
                            <form class="card card-sm">
                                <div class="card-body row no-gutters align-items-center">
                                    <h1>Search result:</h1>
                                    <a class='btn btn-lg btn-info btn-block' href="{% url 'home' user.id %}">Home</a>
                                </div>
                            </form>
                        </div>
                        <!--end of col-->
                    </div>
</div>
<br>
{% if notes %}
{% for note1 in notes %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <div class="jumbotron">
                <h1 class="display-4">{{note1.title}}</h1>
                <p class="lead">{{ note1.date }}</p>
                <hr class="my-4">
                <p class="lead">{{ note1.note }}</p>
                <a class="btn btn-outline-info" href="{% url 'view_note'  pk=note1.id %}">Open</a>
              </div>
        </div>
    </div>
</div>

{% endfor %}
{% else %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <div class="jumbotron">
                <h1 class="display-4">Note not found!</h1>
                <p class="lead">Make sure you entered right keywords<br> To create notes click button below!</p>
                <p class="lead"></p>
                <br>
                <a class="btn btn-outline-info btn-lg btn-block" href="{% url 'create_note' %}">Create Note</a>
              </div>
        </div>
    </div>
</div>
{% endif %}








{% endblock %}
