
{% extends 'userdata/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="card">
        <div class="card-body">
      
<form method="POST" action="" >
  {% csrf_token %}
    <div class="form-group">
      <label for="exampleFormControlInput1">Edit Note</label>
      {{ form.title }}
    </div>

    <div class="form-group">
      {{ form.note }}
    </div>
    <input type="submit"  class="btn btn-primary btn-block" value="Save This Note"  >
</div>
</div>
</div>

{% endblock %}